//
// Variables
//
$primary:#F5F5DC;
$secondary: #4CAF50;
$tertiary:#FF9800;

$link-color: $tertiary;

$breadcrumb-link-color: $tertiary; /* color of links */
$breadcrumb-active-color: #333333; /* color of active sites */

